<?xml version="1.0" encoding="utf-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context-4.3.xsd">

    <context:component-scan base-package="win.bojack.bigdata.spring_test.service,win.bojack.bigdata.spring_test.dao" />
    <!--
    <bean id = "ws" class="win.bojack.bigdata.spring_test.service.WelcomeService">
        <property name="message" value="hello world" />
    </bean>
    -->
</beans>